footer {
	background-color: darkgreen;
	color: white;
	text-align: center;
<<<<<<< HEAD

=======
>>>>>>> 58bcb760322fab24d88361553b0c2d044806d25d
}
a:link {color:white;
		}
a:hover {color:white;
<<<<<<< HEAD
		font-weight: bold}
=======
		font-weight: bold}
>>>>>>> 58bcb760322fab24d88361553b0c2d044806d25d
