

#Content1 {
	background-color: #658C3D;
	text-align: center;
}


#Content2 {
	background-color: #658C3D;
	text-align: center;
}

#Content3 {
	background-color: #658C3D;
	text-align: center;
}


article {
	background-color: white;
}

p {
	color: black;

}

h1 {
	color: white;
}