html{
    margin: 0;
    padding: 0px;
}

nav {
    margin: 0%;
    display: block;
    width: 100%;
    padding: 0px;
    background-color: aqua;
}

li {
    margin: 0, auto;
    display: inline-block;
    list-style-type: none;
    padding: 2%;
}

div {
    width: 100%;
}

img {
    position: relative;
    display: inline-block;
    width: 300px;
}

p {
    display: inline-block;
    width: 50%;
}